.body-content {
    padding-top: 70px;
    padding-bottom: 50px;
}
.bg-dark {
    background-color: #343a40 !important;
    color: white
}
.border {
    border: 1px solid #dee2e6!important;
}
.border-secondary {
    border-color: #6c757d!important;
}