<script src="theme/js/vendor/jquery-1.12.4.min.js"></script>
<script src="theme/js/bootstrap.min.js"></script>
<script src="js/framework.js"></script>
<script src="js/main.js"></script>
{% for js in loadJS %}
    <script src="{{ js.url }}"></script>
{% endfor %}
    </div> <!-- body-content -->
    <footer class="navbar-fixed-bottom bg-dark">
        <div class="container ">
          <p class="text-center mg-t-15">Copyright © SLMS 2020</p>
        </div>
        <!-- /.container -->
      </footer>
</body>
</html>