<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SLMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/css/main.css">
    <link rel="stylesheet" href="theme/style.css">
    <link rel="stylesheet" href="css/main.css">
    {% for css in loadCSS %}
        <link rel="stylesheet" href="{{ css.url }}">
    {% endfor %}
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="/">SLMS</a>
                <button class="btn btn-danger navbar-btn pull-right js-logout-btn">Logout</button>
            </div>
        </div>
    </nav>
    <div class="body-content">
          