#Editor
{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 1000;
}
#Editor .editor-title{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
	font-weight: bold;
}
#Editor span.editor-close {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 20px;
    border: 3px solid;
    border-radius: 42px;
    padding: 5px;
}
#Editor .editorFooter
{
    position: fixed;
    bottom:0px;
    width: 100%;
}
#Editor .footer-buttons button
{
    margin: 10px 20px;
}
#EditorFrame
{
    margin-bottom: 65px;
}