.elementBlock {
    margin: 5px 0px;
}
.autocomplete-element .search-field input {
    width: auto !important;
}
.login-btn-inner .btn-orange {
    background-color: orange;
    border-color: orange;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px;
    color: white;
}
.login-btn-inner button {
    margin: 0px 5px;
}