<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="courses-inner mg-t-15 mg-b-15 border border-secondary" data-id="{{ id }}">
        <div class="courses-title">
            <h4>{{ title }}</h4>
        </div>
        <div class="course-des">
            <p><span><i class="fa fa-clock"></i></span> <b>ValidTill: </b> {{ validTill }}</p>
            <p><span><i class="fa fa-clock"></i></span> <b>Contains: </b> {{ lessonCount }} lessons</p>
        </div>
        <div class="product-buttons">
            <button type="button" class="button-default cart-btn js-access-btn" data-url="{{ urlKey }}">Launch Course</a>
        </div>
    </div>
</div>