{% include "common/header.html" %}
<div class="course-area"> 
    <div class="container">
        <!-- Jumbotron Header -->
        <h3>{{ data.title }}</h3>
        <p> <b>Valid Till:</b> {{ data.validTill }} </p>
        <p> <b>Total lesson: </b>{{ data.lessonCount }} </p>
        <div class="courses-inner mg-t-15 mg-b-15 border border-secondary">
            {{ data.description | raw }}
        </div>
        <h4>Lessons</h4>
        <div class="row">
            {% for lesson in data.lessons %}
                {% include "cards/lesson.html" with lesson %}
            {%endfor%}
        </div>
    </div>
</div>
{% include "common/footer.html" %}