{% include "common/header.html" %}
<div class="course-area"> 
    <div class="container">
        <!-- Jumbotron Header -->
        <h2>This is just an assignment site and contains no actual material for any kind of preparation.</h2>
        <p>You can create content in the admin panel if you have access.</p>
        <strong>This is a Dummy project.</strong>
        <header class="jumbotron my-4">
            <h2>Hi there, {{ userData.name }}.</h2>
            <p class="lead">Hope your doing well, lets keep up the learning to achieve greatness.</p>
            <p class="lead">Find the below courses to help you out with your journey.</p>
        </header>
        <div class="row">
            {% for course in data.courses %}
                {% include "cards/course.html" with course %}
            {%endfor%}
        </div>
    </div>
</div>
{% include "common/footer.html" %}