{% include "common/header.html" %}
<div class="course-area"> 
    <div class="container">
        <!-- Jumbotron Header -->
        <h3>{{ data.title }}</h3>
        {% if data.type == "0" %}
            {% include "cards/video.html" %}
        {% endif %}
        <div class="courses-inner mg-t-15 mg-b-15 border border-secondary">
            {{ data.description | raw }}
        </div>
        {% if data.type == "1" %}
            <h4>Attachments</h4>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="list-group">
                        {% for attachment in data.data %}
                            {% include "cards/attachment.html" with attachment %}
                        {%endfor%}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% include "common/footer.html" %}