<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | SLMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="theme/css/bootstrap.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="theme/style.css">
</head>

<body>
    <div class="error-pagewrap" data-baseUrl="{{ data.baseUrl }}" data-primaryUrl="{{ data.primaryUrl }}">
        <div class="error-page-int">
            <div class="content-error">
                <h1>ERROR <span class="counter"> 404</span></h1>
                <p>Sorry, the page you are looking for has not been found. Try checking the URL for the error, then hit the refresh button on your browser or try founding something else in our app.</p>
                <a href="/">Goto Home</a>
            </div>
            <div class="text-center login-footer">
                <p>Copyright © 2020. All rights reserved. SLMS</p>
            </div>
        </div>   
    </div>
    <!-- jquery
    ============================================ -->
    <script src="theme/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="theme/js/bootstrap.min.js"></script>
</body>

</html>